!!! 5
%html{:lang => "ja", :prefix => "og: http://ogp.me/ns#"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %meta{:content => "dakatsuka's blog", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "http://blog.dakatsuka.jp", :property => "og:url"}
    %meta{:content => "http://blog.dakatsuka.jp/images/ogp.png", :property => "og:image"}
    %meta{:content => "開発な日々", :property => "og:description"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/vnd.microsoft.icon" }
    %link{:rel => "icon", :href => "/favicon.ico", :type => "image/vnd.microsoft.icon" }
    %link{:rel => "alternate", :title => "dakatsuka's blog", :href => "/feed.xml", :type => "application/atom+xml"}
    %link{:rel => "canonical", :href => "/"}
    %link{:rel => "license", :href => "http://creativecommons.org/licenses/by-nc/3.0/deed.ja"}
    %link{:rel => "author", :href => "/about.html"}
    %title dakatsuka's blog
    = stylesheet_link_tag "normalize.css", "font-awesome/css/font-awesome.min.css", "all"
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    = javascript_include_tag "application"

  %body.page#index
    = partial "layouts/header"

    %main
      %article.entry
        %div.body
          %section#recent-entries
            %h1 Recent entries
            %nav
              %ol
                - blog.articles[0...10].each do |article|
                  %li
                    = link_to article.title, article
                    %span= article.date.strftime('%Y年%m月%d日')

          %section#tags
            %h1 Tags
            %nav
              %ol
                - blog.tags.each do |tag, articles|
                  %li= link_to tag, tag_path(tag)

    = partial "layouts/footer"
